@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes';

$nb-enabled-themes: (default, cosmic, corporate, foxpict);

$nb-themes: nb-register-theme((
  header-height: 2.5rem,
  header-padding: 0.5rem,
  footer-height: 1.5rem,
  footer-padding: 0.5rem,
), foxpict, default);
