<div class="container fit-height">
  <div class="row fix-height-50">
    <div class="col fix-height-100">
      <nb-list>
        <nb-list-item *ngFor="let fruit of fruits">
          {{ fruit }}
        </nb-list-item>
      </nb-list>
    </div>
    <div class="col fix-height-100">
      <nb-list>
        <nb-list-item *ngFor="let fruit of fruits">
          {{ fruit }}
        </nb-list-item>
      </nb-list>
    </div>
    <div class="col fix-height-100">
      <nb-list>
        <nb-list-item *ngFor="let fruit of fruits">
          {{ fruit }}
        </nb-list-item>
      </nb-list>
    </div>
  </div>
  <div class="row fix-height-50">
    <div class="col fix-height-100">
      <nb-list>
        <nb-list-item *ngFor="let fruit of fruits">
          {{ fruit }}
        </nb-list-item>
      </nb-list>
    </div>
  </div>
</div>
