@import '~@angular/material/theming';
@include mat-core();

@mixin candy-carousel-theme($theme) {
  $mat-node-height: 10px;

  $custom-typography: mat-typography-config(
    $body-2: mat-typography-level(10pt, 24px, 500),
    $body-1: mat-typography-level(10pt, 20px, 500),
    $button: mat-typography-level(10pt, 14px, 500)
  );

  @include angular-material-typography($custom-typography);

  // --------------------------
  // Custom Variables
  // --------------------------
  $mat-node-height: 24px; // ツリーノード高さ

  // Tree
  .mat-tree-node {
    min-height: $mat-node-height !important;

    // ツリーノード内にボタンを配置する場合に、
    // ボタンの高さをツリーノードに合わせる。
    .mat-button {
      line-height: $mat-node-height;
    }

    // ツリーノードの開閉アイコンサイズ
    .mat-icon-button {
      height: $mat-node-height;
      line-height: $mat-node-height !important;
    }
  }
}
