<div class="fit-height">
  <img [src]="viewmodel.PreviewUrl" class="image-vfit">
</div>

<ng-template #pain>
  <div>{{viewmodel.PreviewContentLinkCategory?.Name}}</div>
  <div>{{viewmodel.PreviewContent?.Name}}</div>
  <div>
    表示回数:{{viewmodel.PreviewContent?.ReadableCount}}
  </div>
  <div>
    <button *ngFor="let label of viewmodel.PreviewContentLinkCategory?.Labels" class="btn btn-dark btn-xs">
      {{label.Id}} {{label.Name}}
    </button>
  </div>
  <div class="d-flex justify-content-around">
    <button (click)="prevPage()">←</button>
    <div>{{viewmodel.PreviewInfo?.CurrentPos}}/{{viewmodel.PreviewInfo?.TotalNum}}</div>
    <button (click)="nextPage()">→</button>
  </div>
</ng-template>
