<div>
  <button mat-button (click)="onBACK()" color="primary">戻る遷移</button><br>
  <button mat-button (click)="onTRNS_TOPSCREEN()" color="primary">TRNS_TOPSCREEN</button><br>
  <button mat-button (click)="onTrnsFinder()" color="primary">ファインダ画面表示</button><br>
  <button mat-button (click)="onACT_REQINVALIDATE_CATEGORYTREE()" color="primary">ACT_REQINVALIDATE_CATEGORYTREE</button><br>
  <button mat-button (click)="onDebugTransrationRoot()" color="primary">ルート状態に強制遷移</button><br>
  <button mat-button (click)="onIntermittent()">intermittent</button><br>
  <button mat-button (click)="onIpcSend_TrnsTopscreen()">onIpcSend_TrnsTopscreen</button><br>
  <button mat-button (click)="onLoadCategoryTree()" color="primary">カテゴリツリー読み込み(MOCK)</button><br>
  <button mat-button (click)="onLoadContentList()" color="primary">コンテントリスト読み込み(MOCK)</button><br>
  <button mat-button (click)="onLoadPreview()" color="primary">プレビュー画像読み込み(MOCK)</button><br>
</div>

<category-tree *ngIf="viewModel.screenStatus.finder"></category-tree>
